.question-block{
   border: 1px solid black;
   padding: 10px;
   margin: 10px;
   page-break-inside: avoid;
}

.answer-block{
   padding: 3px;
   margin: 3px 0;
   overflow-wrap: break-word;
}

.answer-block i {
   margin-right: 3px;
}

@media print {

   #no-print {
      display: none;
   }

}
